<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>openssl</string>
	<key>CFBundleExecutable</key>
	<string>openssl</string>
	<key>CFBundleIdentifier</key>
	<string>ru.rutoken.openssl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>openssl</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0.2</string>
	<key>CODE_SIGN_CONTEXT_CLASS</key>
	<string>XCiPhoneOSCodeSignContext</string>
	<key>DEBUG_INFORMATION_FORMAT</key>
	<string>dwarf-with-dsym</string>
	<key>EMBEDDED_PROFILE_NAME</key>
	<string>embedded.mobileprovision</string>
	<key>LSRequiresIphoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>SDKROOT</key>
	<string>iphoneos</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>